html, body {
    min-width:600px;
    height:100%;
    position:relative;
    background: -webkit-radial-gradient(#ff7131, #6b2100);
    background: radial-gradient(#ff7131, #6b2100);
    overflow:hidden;
}

body {
	font-family:Verdana;
}

td.wrapper {
	vertical-align: middle;
	text-align: center;
	width:100%;
}

div.wrapper {
    max-width: 80%;
    min-width: 800px;
    width: 100%;
    margin:auto;
    padding: 0 10px;
}

table {
	width: 100%;
	height: 100%;                
}

.configlink .modal {
    text-align: initial;
    font-size: initial;
}

#passwordLength {
    width: 80px;
    float: left;
    margin-left: 32px;
    margin-top: -8px;
}

.noUi-connect {
    background: #ff7131;
}

.password-length-slider {
    max-width: 230px;
    width: 100%;
    float: left;
}

.password-box {
    box-shadow: 0 1px 0 rgba(255,255,255,.15),
                0 2px 4px rgba(0,0,0,.2) inset,
                0 0 12px rgba(255,255,255,.1);
    padding:8px 20px;
    background: rgba(0,0,0,.1);
    border-radius:10px;
    position: relative;
}

.password {
    text-align: center;
    font-size: 2.5em;
    color: #ffffff;
    margin-right: 64px;
    overflow: auto;
}

.configuration {
    position: absolute;
    right: 12px;
    top: 8px;
    float: right;
    width: 64px;
    height: 50px;
    overflow: hidden;
    text-align: initial;
}

.configuration i.fa {
    background: transparent;
    color: rgba(255,255,255, .3);
    cursor: pointer;
    transition: color .3s ease;
}

.configuration i.fa:hover {
    color: rgba(255,255,255, .9);
}
